@import 'colors';

.portfolio-side {
  .back-button {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: color 0.3s ease-out;

    &:hover {
      color: lighten(black, 30%);
    }

    @media screen and (max-width: 767px) {
      top: 15px;
      right: 15px;
    }
  }

  .upper-text {
    margin-top: 30px;

    h3 {
      color: $green;

      opacity: 0;
      transition: opacity 0.5s 0.5s ease-out;

      .portfolio-triggered & {
        opacity: 1;
      }
    }

    p {
      opacity: 0;
      transition: opacity 0.4s 1s ease-out;

      .portfolio-triggered & {
        opacity: 1;
      }
    }
  }
}
