@import 'colors';

.portfolio-side {
  .back-button {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: color 0.3s ease-out;

    &:hover {
      color: lighten(black, 30%);
    }

    @media screen and (max-width: 767px) {
      top: 15px;
      right: 15px;
    }
  }

  .upper-text {
    margin-top: 30px;

    opacity: 0;
    transition: opacity 0.65s 0.6s ease-out;

    .portfolio-triggered & {
      opacity: 1;
    }

    h3 {
      color: $green;
    }
  }
}
