$border-color: #EDEDED;
$shadow-color: rgba(0,0,0,0.1);

.content {
  max-width: 580px;
  width: 100%;
  height: 680px;
  margin: 0 auto;
  opacity: 0;
  transform: translate3d(-50%, -60%, 0);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  perspective: 2000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;


  &.visible {
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    transform: none;
    position: relative;
    top: 0;
    left: 0;

    &.visible {
      transform: none;
    }
  }
}

.profile-image-wrapper {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  opacity: 0;
  transition: opacity 0.4s 1.2s ease-out;
  transform: translate3d(0,0,0);
  animation-delay: 1.2s;
  animation-name: fallDown;
  animation-duration: 0.55s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  img {
    max-width: 100%;
  }

  .visible & {
    transform: scale(1);
    opacity: 1;
    animation-play-state: running;
  }
}

.flipcard-wrapper {
  border: 1px solid $border-color;
  box-shadow: 0 0 12px 0 $shadow-color;
  transition: transform 0.4s ease-out;
	transform-style: preserve-3d;
	position: relative;

  &.portfolio-side-visible {
    transform: rotateY(-180deg);
  }

  @media screen and (max-width: 767px) {
    box-shadow: none;
    border: none;
  }
}

.main-side, .portfolio-side {
  backface-visibility: hidden;
  padding: 45px;

  @media screen and (max-width: 767px) {
    padding: 20px;
  }
}

.main-side {
  z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.portfolio-side {
  transform: rotateY(-180deg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
	left: 0;
}
