@keyframes signSwing {
  0% {
    transform: rotateX(-40deg);
  }

  60% {
    transform: rotateX(0deg);
  }

  80% {
    transform: rotateX(10deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes fallDown {
  0% {
    transform: scale(1.13);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
