@keyframes signSwing {
  0% {
    transform: rotateX(-90deg);
  }

  40% {
    transform: rotateX(0deg);
  }

  60% {
    transform: rotateX(20deg);
  }

  80% {
    transform: rotateX(-15deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes fallDown {
  0% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(0.93);
  }

  100% {
    transform: scale(1);
  }
}
