// Size of div based on the ratio of image
@mixin panel-size($width, $height) {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;

  &:after {
    padding-top: $height / $width * 100%;
    content: '';
    display: block;
  }
}

@mixin clear-panel-size() {
  &:after {
    padding-top: 0;
  }
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1101px) { @content; }
  } @else if $point == tablet {
    @media (max-width: 1100px)  { @content; }
  } @else if $point == mobile {
    @media (max-width: 870px)  { @content; }
  } @else if $point == s-mobile {
    @media (max-width: 480px)  { @content; }
  } @else if $point == s-desktop {
    @media (max-width: 1480px) and (min-width: 1100px)  { @content; }
  } @else if $point == l-desktop {
    @media (min-width: 1280px)  { @content; }
  } @else {
    @media (max-width: #{$point})  { @content; }
  }
}

@mixin transform-center($position:'') {
  @if($position == 'vertical') {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  } @else if($position == 'horizontal') {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } @else {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
